img {
    height:auto;
    width:300px;
    display:block;
    margin:0 auto;
}

h1 {
    font-size:45px;
    font-weight:bolder;
    text-align: center;
    font-family: Georgia,serif;
}

h3 {
    font-size:30px;
    font-weight:bold;
    font-family:Verdana,sans-serif;
}

li {
    line-height: 1.6;
    font-family:Arial,sans-serif;
}